.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 3rem;
    margin: 6vh;
    border: 6px dashed rgb(1,17, 160);
    border-radius: 20px;
    padding: 1vh 5vw;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
}
