@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.refresh{
  display:flex;    
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn-white{
  margin-top: 18px;
  padding: 10px 80px;
  border: 1px solid white;
  cursor: pointer;
}

.btn-white:hover{
  background-color: white;
  color: black;
  transition: all 0.2s;
}